.address__wrapper {
  background-color: $color-bg-white;

  @media (min-width: $desktop-width) {
    display: grid;
    min-height: 400px;
  }
}

.address__wrapper--form {
  background-color: $color-bg-gray;
  .address__wrapper-container {
    @media (min-width: $desktop-width) {
      transform: translate(105px, -4px);
    }
  }
}

.address__wrapper--catalog {
  background-color: $color-bg-gray;
}

.address__wrapper-container {
  display: grid;
  grid-template-columns: 139px 139px;
  width: 280px;
  margin: 0 auto;
  min-height: 60px;
  padding: 26px 20px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 172px 160px;
    justify-content: space-between;
    width: 628px;
    min-height: 80px;
    padding: 60px 70px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    align-self: center;
    margin: 0;
    width: 410px;
    min-height: 83px;
    padding: 60px 74px 57px 85px;
    background-color: $color-bg-white;
    transform: translate(106px, -2px);
    z-index: 2;
  }
}

.address__title {
  @include reset;
  font-family: $oswald400;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-title1;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}

.address__description {
  @include reset;
  display: block;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  color: $color-desc;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;

    &:first-child {
      margin-bottom: 10px;

      @media (min-width: $tablet-width) {
        line-height: 20px;
        margin-bottom: 20px;
        margin-top: -4px;
      }
    }
  }
}

.address__map {
  height: 362px;
  display: grid;

  @media (min-width: $tablet-width) {
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    height: 100%;
  }
}

.address__invitation {
  @media (min-width: $tablet-width) {
    text-align: end;
  }

  @media (min-width: $desktop-width) {
    line-height: 16px;
    text-align: left;
  }
}
