.button {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  text-decoration: none;
  text-transform: uppercase;
}
