.catalog-more {
  grid-column: 1 / -1;
}

.catalog-more__wrapper {
  position: relative;
  padding-top: 60px;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.catalog-more__title {
  @include title;
  margin-bottom: 8px;
  font-family: $oswald400;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $color-title1;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 170px;
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 20px;
  }
}

.catalog-more__about {
  @include title;
  margin-bottom: 21px;
  font-size: 12px;
  line-height: 16px;
  color: $color-desc;

  @media (min-width: $tablet-width) {
    width: 165px;
    min-height: 36px;
    margin-bottom: 80px;
    font-size: 16px;
    line-height: 18px;
  }
}

.catalog-more__button {
  font-size: 16px;
  line-height: 20px;
  color: $color-desc;
  background-color: $color-bg-gray;

  &:hover {
    background-color: $color-border-list3;
  }

  &:focus {
    background-color: $color-border-list3;
  }

  &:active {
    background-color: $color-border-list3;
    color: rgba(68, 68, 68, 0.3);
  }

  @media (min-width: $tablet-width) {
    width: 249px;
  }

  @media (min-width: $desktop-width) {
    width: 168px;
  }
}

.catalog-more__cross {
  @media (min-width: $tablet-width) {
    transform: translate(-33px, 16px);
    margin-bottom: 100px;
  }

  &::before,
  &::after {
    position: absolute;
    width: 30px;
    height: 2px;
    top: 15px;
    right: 125px;
    background-color: $color-border-list4;
    content: "";

    @media (min-width: $tablet-width) {
      width: 60px;
      top: 0;
      right: -60px;
    }
  }

  &::after {
    transform: rotate(90deg);
  }
}
