.catalog-prize__wrapper {
  width: 280px;
  min-height: 289px;
  margin: 0 auto;
  background-color: rgba(104, 183, 56, 0.85);
}

.catalog-prize__title {
  @include lato400;
  @include title;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.address__wrapper--catalog {
  background-color: #f2f2f2;
}
