.example--container {
  min-height: 659px;
  width: 320px;
  background-color: $color-bg-grey;

  @media (min-width: $tablet-width) {
    width: 768px;
    background-color: $color-bg-white;
  }
}

.example__description {
  margin: 0 auto;
  width: 280px;
  padding: 25px 20px;

  @media (min-width: $tablet-width) {
    width: 768px;
  }
}

.example__title {
  @include title;
  font-family: $oswald400;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: left;
  color: $color-default-black;
}

.example__about {
  font-size: 14px;
  line-height: 18px;
  color: $color-desc;
}

.example__results {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 32px;
  margin: 0 auto;
  width: 280px;
  min-height: 70px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    width: 708px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.example__list {
  border: 1px solid #cdcdcd;
  width: 124px;
  height: 56px;
}

.example__definition {
  margin: 0;
}

.example__count {
  @include title;
  grid-column: 1 / -1;
  font-family: $oswald400;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-default-black;
}

.example__slider {
  width: 320px;
  background-color: $color-bg-grey;

  @media (min-width: $tablet-width) {
    width: 768px;
    min-height: 462px;
  }
}
