.extra-goods__wrapper {
  position: relative;
  width: 280px;
  margin: 0 auto;
  z-index: 1;

  @media (min-width: $tablet-width) {
    position: relative;
    width: 708px;
    margin: 0 auto 69px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 1220px;
    margin-bottom: 90px;
  }
}

.extra-goods__container {
  position: relative;
  width: 248px;
  margin-bottom: 37px;
  background-color: $color-default-white;

  @media (min-width: $tablet-width) {
    position: relative;
    margin: 0;
    margin-bottom: 80px;
    width: 415px;
  }

  @media (min-width: $desktop-width) {
    margin-left: -36px;
    margin-bottom: 0;
  }
}

.extra-goods__title {
  margin: 6px 0;
  width: 230px;
  font-family: $oswald400;
  text-align: left;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: $color-default-black;

  &::after {
    position: absolute;
    width: 100vw;
    top: 15px;
    right: 0;
    height: 2px;
    box-shadow: 100vw 0 0 #68b738;
    content: "";
    z-index: -1;

    @media (min-width: $tablet-width) {
      top: 20px;
      width: 100vw;
      background-color: $color-bg-green;
      box-shadow: 100vw 0 0 #68b738;
    }

    @media (min-width: $desktop-width) {
      top: 21px;
    }
  }

  @media (min-width: $tablet-width) {
    width: 340px;
    font-size: 36px;
    line-height: 36px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin-bottom: 80px;
  }
}

.extra-goods__list {
  @include list-reset;
  display: grid;
  width: 280px;
  margin: 0 auto 33px;

  @media (min-width: $tablet-width) {
    width: inherit;
    min-height: 288px;
    margin-bottom: 67px;
  }

  @media (min-width: $desktop-width) {
    width: 896px;
    min-height: 288px;
    margin: 0 78px 0 0;
  }
}

.extra-goods__item {
  border-top: 1px solid $color-border-list4;
  padding: 10px 0 20px;

  &:last-child {
    border-bottom: 1px solid $color-border-list4;
  }

  @media (min-width: $tablet-width) {
    padding: 24px 40px 30px 35px;
    border: 1px solid $color-border-list4;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 610px 244px;
    column-gap: 40px;
    padding: 15px 0 15px;
    border: none;
    border-top: 1px solid $color-border-list4;
  }
}

.extra-goods__table {
  margin-bottom: 8px;
  width: 100%;

  @media (min-width: $tablet-width) {
    margin-bottom: 18px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.extra-goods__row {
  display: grid;
  grid-template-columns: 140px 140px;
  row-gap: 7px;
  margin-left: -1px;
  color: $color-desc;

  @media (min-width: $tablet-width) {
    display: table-row;
    vertical-align: top;
  }

  @media (min-width: $desktop-width) {
    display: table-row;
    vertical-align: middle;
  }
}

.extra-goods__caption {
  grid-column: 1 / -1;
  margin-left: -2px;
  font-family: $oswald400;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $color-title2;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 318px;
    font-size: 20px;
    line-height: 20px;
  }
}

.extra-goods__data {
  grid-column: 1 / 2;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    text-align: end;
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $tablet-width) {
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.extra-goods__data-count {
  font-size: 14px;
  line-height: 14px;
  grid-column: 2 / 3;
  justify-self: end;

  @media (min-width: $tablet-width) {
    width: 80px;
    text-align: end;
    font-size: 16px;
    line-height: 20px;
  }
}

.extra-goods__button {
  font-size: 16px;
  line-height: 20px;
  width: 100%;
}

.extra-goods__button a {
  padding: 10px;
}

.extra-goods__prize {
  position: relative;
  display: block;
  width: 280px;
  min-height: 289px;
  margin: 0 auto 35px;
  background-image: url("../img/jpg/background-prize.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $color-bg-green;

  @supports (background-image: url("../img/jpg/background-prize.webp")) {
    background-image: url("../img/jpg/background-prize.webp");
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../img/jpg/background-prize@2x.jpg");

    @supports (background-image: url("../img/jpg/background-prize@2x.webp")) {
      background-image: url("../img/jpg/background-prize@2x.webp");
    }
  }

  @media (min-width: $tablet-width) {
    position: relative;
    width: 707px;
    min-height: 200px;
    margin-bottom: 76px;
    background-image: url("../img/jpg/background-prize-tablet.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    @supports (background-image: url("../img/jpg/background-prize-tablet.webp")) {
      background-image: url("../img/jpg/background-prize-tablet.webp");
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../img/jpg/background-prize-tablet@2x.jpg");

      @supports (background-image: url("../img/jpg/background-prize-tablet@2x.webp")) {
        background-image: url("../img/jpg/background-prize-tablet@2x.webp");
      }
    }
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    min-height: 288px;
    margin: 0;
  }
}

.extra-goods__prize-title {
  @include title;
  display: block;
  width: 161px;
  margin: 0 auto;
  padding: 188px 61px 43px 58px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $color-default-white;

  &::before {
    position: absolute;
    display: block;
    right: 35%;
    top: 20%;
    width: 80px;
    height: 84px;
    color: $color-default-white;
    background-image: url("../img/png/gift.png");
    background-repeat: no-repeat;
    content: "";

    @media (min-width: $tablet-width) {
      right: 78%;
      top: 28%;
    }

    @media (min-width: $desktop-width) {
      right: 33%;
      top: 19%;
    }
  }

  @media (min-width: $tablet-width) {
    margin-right: 50px;
    text-align: left;
    padding: 72px 72px 43px 58px;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    padding: 185px 42px 42px 42px;
  }
}
