.extra-goods__wrapper {
  width: 280px;
  margin: 0 auto;
}

.extra-goods__title {
  @include oswald400;
  @include title;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
}

.extra-goods__caption {
  @include lato400;
  @include title;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
}
