.features__wrapper {
  display: grid;
  justify-content: center;
  grid-gap: 20px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    grid-gap: 30px;
    width: 708px;
    margin: -90px auto 0;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    width: 1220px;
    margin: 0 auto 70px;
  }
}

.features__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
  width: 280px;
  min-height: 266px;
  background-color: $color-bg-gray;

  @media (min-width: $tablet-width) {
    position: relative;
    display: grid;
    grid-template-columns: 52px 340px 1fr;
    width: 708px;
    min-height: 372px;

    &:last-child {
      margin-bottom: 45px;

      @media (min-width: $desktop-width) {
        margin-bottom: 0;
      }
    }
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 52px 100px 1fr;
    width: 570px;
    min-height: 374px;
  }
}

.features__title {
  @include reset;
  display: grid;
  grid-template-columns: min-content auto;
  column-gap: 20px;
  padding: 24px;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-family: $oswald400;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: $color-default-black;
  word-break: break-word;

  @media (min-width: $tablet-width) {
    grid-column: 2 / 3;
    display: block;
    padding: 72px 20px 0 0;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 3/-1;
    margin-left: 62px;
    align-items: unset;
    justify-content: unset;
    padding: 40px 40px 25px 0;
  }
}

.features__title--img-slim::after {
  position: absolute;
  width: 140px;
  height: 194px;
  background-image: url("../img/svg/cat_slim.svg");
  background-size: 36px 50px;
  background-repeat: no-repeat;
  transform: translate(6px, 68px);
  content: "";

  @media (min-width: $tablet-width) {
    background-size: inherit;
    right: 14%;
    top: 22%;
    transform: none;
  }

  @media (min-width: $desktop-width) {
    background-size: 70px 97px;
    left: 66px;
    top: 40px;
    transform: none;
  }
}

.features__title--img-slim::before {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $color-bg-green;
  content: "";

  @media (min-width: $tablet-width) {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 25%;
    right: 9%;
  }

  @media (min-width: $desktop-width) {
    transform: none;
    width: 100px;
    height: 100px;
    top: 45px;
    left: 53px;
  }
}

.features__title--img-pro::after {
  position: absolute;
  width: 268px;
  height: 112px;
  background-image: url("../img/svg/cat_pro.svg");
  background-size: 67px 28px;
  background-repeat: no-repeat;
  transform: translate(-10px, 40px);
  content: "";

  @media (min-width: $tablet-width) {
    background-size: inherit;
    right: 4%;
    top: 36%;
    transform: none;
  }

  @media (min-width: $desktop-width) {
    background-size: 134px 56px;
    left: 32px;
    top: 66px;
    transform: none;
  }
}

.features__title--img-pro::before {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $color-bg-green;
  content: "";

  @media (min-width: $tablet-width) {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 25%;
    right: 9%;
  }

  @media (min-width: $desktop-width) {
    transform: none;
    width: 100px;
    height: 100px;
    top: 45px;
    left: 53px;
  }
}

.features__about {
  margin: 0;
  padding: 0 20px 20px;
  font-size: 14px;
  line-height: 18px;
  width: 240px;
  min-height: 90px;

  @media (min-width: $tablet-width) {
    grid-column: 2 / 3;
    padding: 20px 0;
    width: 340px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/4;
    grid-row: 2/3;
    width: 457px;
    padding: 45px 61px 0 0;
  }

  &--line::after {
    display: block;
    width: 230px;
    height: 1px;
    margin-top: 21px;
    background: $color-border-list2;
    content: "";

    @media (min-width: $tablet-width) {
      display: none;
    }

    @media (min-width: $desktop-width) {
      display: none;
    }
  }
}

.features__link {
  padding: 0 20px 20px;
  font-family: $oswald400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $color-default-black;

  @media (min-width: $tablet-width) {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    padding: 30px 20px 53px 0;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/4;
    grid-row: 3 / 4;
    padding: 10px 45px 20px 0;
  }

  &:hover,
  &:focus {
    .features__link-line {
      background-image: url("../img/svg/arrow-big.svg");
    }
  }

  &:active {
    .features__link-line {
      background-image: url("../img/svg/arrow-big.svg");
    }

    opacity: 0.4;
  }
}

.features__link-line {
  display: inline-block;
  margin-left: 13px;
  width: 32px;
  height: 16px;
  background-image: url("../img/svg/arrow-small.svg");
  background-repeat: no-repeat;
  transform: translateY(1px);
}
