.form-comment__legend {
  display: block;
  width: 121px;
  padding: 0 14px 36px 0;
  font-family: $oswald400;
  font-size: 24px;
  line-height: 26px;
  color: $color-default-black;
  background-color: $color-bg-white;

  &::after {
    position: absolute;
    width: calc(100vw - 20px);
    height: 2px;
    top: 16px;
    left: 0;
    background-color: $color-bg-green;
    content: "";
    z-index: -1;

    @media (min-width: $tablet-width) {
      top: 20px;
      width: 100vw;
      left: inherit;
      right: 0;
      box-shadow: 100vw 0 0 #68b738;
    }

    @media (min-width: $desktop-width) {
      // width: 1440px;
      // right: -110px;
      // top: 20px;
    }

    @-moz-document url-prefix("") {
      top: -47px;

      @media (min-width: $tablet-width) {
        top: -90px;
      }

      @media (min-width: $desktop-width) {
        top: -86px;
      }
    }
  }

  @media (min-width: $tablet-width) {
    width: 182px;
    padding: 0 40px;
    margin-left: -42px;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 76px;
  }
}

.form-comment__field-control {
  width: 280px;
  padding: 10px 14px;
  height: 150px;
  margin-bottom: 22px;
  font-size: 16px;
  line-height: 18px;
  resize: none;

  @media (min-width: $tablet-width) {
    width: 630px;
    padding: 10px 19px;
    height: 175px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}
