.form__fieldset {
  border: none;
}

.form__button {
  width: 320px;
  margin-bottom: 20px;
  border: 0;
}

.form__required {
  @include lato400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}
