.form-data__title {
  display: block;
  width: 187px;
  padding: 0 14px 36px 0;
  font-family: $oswald400;
  font-size: 24px;
  line-height: 26px;
  color: $color-default-black;
  background-color: $color-bg-white;

  &::after {
    position: absolute;
    width: calc(100vw - 20px);
    height: 2px;
    top: 16px;
    left: 0;
    background-color: $color-bg-green;
    content: "";
    z-index: -1;

    @media (min-width: $tablet-width) {
      top: 20px;
      width: 100vw;
      left: inherit;
      right: 0;
      box-shadow: 100vw 0 0 #68b738;
    }

    @media (min-width: $desktop-width) {
      // width: 1440px;
      // right: -110px;
      // top: 20px;
    }

    // @-moz-document url-prefix("") {
    //   top: -47px;

    //   @media (min-width: $tablet-width) {
    //     top: -90px;
    //   }

    //   @media (min-width: $desktop-width) {
    //     top: -86px;
    //   }
    // }
  }

  @media (min-width: $tablet-width) {
    @include reset;
    width: 515px;
    padding: 0 42px;
    margin-left: -42px;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 76px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 72px;
  }
}

.form-data__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 280px;
  gap: 13px;
  margin-bottom: 24px;
  font-family: $oswald400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $color-desc;

  @media (min-width: $tablet-width) {
    width: 630px;
    gap: 20px;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    flex-direction: row;
    gap: 80px;
  }
}

.form-data__item {
  @media (min-width: $desktop-width) {
    width: 569px;
  }
}

.form-data__field {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.form-data__field-label {
  margin-right: 13px;

  @media (min-width: $tablet-width) {
    margin-right: 21px;
  }
}

.form-data__field-control {
  font-size: 16px;
  line-height: 18px;
  height: 45px;
  flex-grow: 1;

  &:focus + .form-data__field-control-letter,
  &:focus + .form-data__field-control-phone {
    stroke: $color-bg-green;
  }

  &:invalid + .form-data__field-control-letter,
  &:invalid + .form-data__field-control-phone {
    stroke: $color-border-invalid;
  }

  @media (min-width: $tablet-width) {
    position: relative;
    gap: 20px;
    height: 52px;
    font-size: 20px;
    line-height: 30px;
  }
}

.form-data__field-control-letter {
  position: absolute;
  right: 0;
  padding-left: 10px;
  padding-right: 20px;
  stroke: $color-default-black;

  @media (min-width: $desktop-width) {
    left: 525px;
  }
}

.form-data__field-control-phone {
  position: absolute;
  right: 0;
  padding-left: 10px;
  padding-right: 20px;
  stroke: $color-default-black;
}

.form-data__field-control[placeholder] {
  @media (min-width: $tablet-width) {
    padding: 10px 22px;
  }
}
