.form-add__title {
  display: block;
  width: 141px;
  padding: 0 14px 36px 0;
  font-family: $oswald400;
  font-size: 24px;
  line-height: 26px;
  color: $color-default-black;
  background-color: $color-bg-white;

  &::after {
    position: absolute;
    width: calc(100vw - 20px);
    height: 2px;
    top: 16px;
    left: 0;
    background-color: $color-bg-green;
    content: "";
    z-index: -1;

    @media (min-width: $tablet-width) {
      top: 20px;
      width: 100vw;
      left: inherit;
      right: 0;
      box-shadow: 100vw 0 0 #68b738;
    }

    @-moz-document url-prefix("") {
      top: -47px;

      @media (min-width: $tablet-width) {
        top: -69px;
      }

      @media (min-width: $desktop-width) {
        top: -71px;
      }
    }
  }

  @media (min-width: $tablet-width) {
    width: 211px;
    padding: 0 40px;
    margin-bottom: 56px;
    margin-left: -42px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 58px;
  }
}

.form-add__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 34px;
  font-family: $oswald400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $color-desc;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 64px;
    row-gap: 32px;
    margin-bottom: 50px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    column-gap: 80px;
    grid-template-columns: repeat(4, 245px);
    margin-bottom: 60px;
  }
}

.form-add__field {
  display: grid;
  grid-template-columns: 30px 1fr;
  grid-gap: 15px;
  align-items: center;

  @media (min-width: $tablet-width) {
    grid-gap: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-gap: 29px;
  }
}

.form-add__mark {
  padding: 0;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  background: $color-default-white;
  border: 1px solid $color-border-list4;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.form-add__field-control:checked + .form-add__mark::before {
  position: absolute;
  transform: translate(20%,18%);
  width: 20px;
  height: 20px;
  background-image: url("../img/svg/mark.svg");
  background-repeat: no-repeat;
  content: "";

  @media (min-width: $tablet-width) {
    width: 24px;
    height: 18px;
    transform: translate(30%, 44%);
  }
}

.form-add__field-control {
  &:hover + .form-add__mark {
    border: 1px solid $color-border-list7;
  }

  &:focus + .form-add__mark {
    outline: 1px solid;
  }

  &:disabled ~ span {
    opacity: 0.3;
  }
}
