.form__fieldset-blank {
  @include reset;
  border: none;

  @media (min-width: $desktop-width) {
    grid-column: 1 / 3;
  }
}

.form__fieldset-choice {
  @include reset;
  border: none;

  @media (min-width: $tablet-width) {
    // width: 576px;
    // margin: 0 auto;
    margin-bottom: 75px;
    border: 1px solid $color-border-list6;
    padding: 25px 27px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 3 / -1;
    height: 150px;
    width: 517px;
    padding: 25px;
    margin-bottom: 64px;
  }
}

.form__fieldset-data {
  @include reset;
  position: relative;
  border: none;
  z-index: 1;

  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
  }
}

.form__fieldset-comment {
  @include reset;
  position: relative;
  border: none;
  z-index: 1;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    grid-column: 1 / -1;
  }
}

.form__fieldset-add {
  @include reset;
  position: relative;
  border: none;
  z-index: 1;

  @media (min-width: $desktop-width) {
    width: 1220px;
    grid-column: 1 / -1;
  }
}

.form__required {
  @include reset;
  margin-bottom: 32px;
  font-family: $lato400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  @media (min-width: $tablet-width) {
    @include reset;
    display: block;
    font-size: 16px;
    line-height: 16px;
    align-self: center;
  }
}

.form__submit {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    display: grid;
    width: 520px;
    min-height: 52px;
    grid-template-columns: 1fr 1fr;
    column-gap: 54px;
    margin-bottom: 74px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / -3;
    column-gap: 70px;
    width: 826px;
    margin-bottom: 80px;
  }
}

.form__button {
  width: 280px;
  padding: 10px;
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 20px;
  border: 0;

  @media (min-width: $tablet-width) {
    width: 280px;
    font-size: 20px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    width: 569px;
  }
}
