.header {
  font-family: $oswald400;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: $color-default-black;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-family: $oswald400;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-family: $oswald400;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    background-color: $color-bg-white;
  }
}

.header__container {
  width: 320px;
  margin: 0 auto;
  background-color: $color-bg-white;

  @media (min-width: $tablet-width) {
    width: 768px;
    min-height: 52px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding-top: 53px;
    justify-content: space-between;
  }
}

.header__wrapper {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 280px;
  padding-top: 10px;
  padding-bottom: 19px;

  @media (min-width: $tablet-width) {
    display: flex;
    width: 174px;
    margin: 0;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    width: 202px;
    margin: 0;
    padding: 0;
  }
}

.header__navigation {
  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 440px;
    margin-left: 90px;
  }

  @media (min-width: $desktop-width) {
    width: 478px;
    min-height: 40px;
    margin: 0;
    padding: 0;
  }
}

.header__toggle {
  width: 24px;
  height: 18px;
  border: 0;
  color: $color-default-black;
  background: url("../img/logo_hamburger.svg");
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));

  @media (min-width: $tablet-width) {
    display: none;
  }
}
