.input {
  font-family: $oswald400;
  text-transform: uppercase;
  padding: 0 10px;
  color: $color-desc;
  border: 1px solid $color-border-list6;
  box-sizing: border-box;

  &:hover {
    border-color: $color-border-list4;
  }

  &:focus {
    border-color: $color-desc;
  }
}

.input:invalid:not(:placeholder-shown):not(:focus) {
  border: 1px solid $color-border-invalid;
}
