.navigation {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
}

.navigation__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.navigation__link {
  display: block;
  color: inherit;
  padding: 22px 20px 24px;
  border-top: 1px solid $color-border-list;
}

.navigation__toggle {
  width: 24px;
  height: 18px;
  border: 0;
  color: $color-default-black;
  background: url("../img/logo_hamburger.svg");
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

