.navigation {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;

    @media (min-width: $tablet-width) {
      display: block;
    }
}

.navigation__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

    @media (min-width: $tablet-width) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
}

.navigation__link {
  display: block;
  color: inherit;
  padding: 22px 20px 24px;
  border-top: 1px solid $color-border-list;

    @media (min-width: $tablet-width) {
      padding: 0;
      border: none;
    }
}


