.offer__wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  width: 280px;

  @media (min-width: $tablet-width) {
    display: grid;
    margin-top: 52px;
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin: 47px auto 265px;
  }
}

.offer__review {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 280px;
  min-height: 302px;
  background-color: $color-bg-green;

  &::before {
    position: absolute;
    width: 100%;
    height: 302px;
    background-image: url("../img/jpg/background-mobile.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    background-color: $color-bg-green;
    content: "";

    @supports (background-image: url("../img/jpg/background-mobile.webp")) {
      background-image: url("../img/jpg/background-mobile.webp");
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../img/jpg/background-mobile@2x.jpg");

      @supports (background-image: url("../img/jpg/background-mobile@2x.webp")) {
        background-image: url("../img/jpg/background-mobile@2x.webp");
      }
    }

    @media (min-width: $tablet-width) {
      margin-left: 0;
      display: none;
    }

    @media (min-width: $desktop-width) {
      display: inherit;
      top: 0;
      right: 0;
      width: 50%;
      height: 694px;
      background-image: url("../img/jpg/background-desktop.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position-x: initial;

      @supports (background-image: url("../img/jpg/background-desktop.webp")) {
        background-image: url("../img/jpg/background-desktop.webp");
      }

      @media (min-resolution: 2dppx) {
        background-image: url("../img/jpg/background-desktop@2x.jpg");

        @supports (background-image: url("../img/jpg/background-desktop@2x.webp")) {
          background-image: url("../img/jpg/background-desktop@2x.webp");
        }
      }
    }
  }

  @media (min-width: $tablet-width) {
    display: block;
    width: 420px;
    min-height: 181px;
    padding: 0 88px 30px;
    background: $color-default-white;
  }

  @media (min-width: $desktop-width) {
    width: 420px;
    min-height: 180px;
    padding: 0 80px;
  }
}

.offer__picture {
  margin-top: -135px;
  z-index: 1;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    transform: translateY(-85px);
    background: $color-bg-white;
  }

  @media (min-width: $desktop-width) {
    background: none;
    position: absolute;
    transform: translate(448px, 24px);
  }
}

.offer__title {
  @include title;
  font-family: $oswald400;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  padding: 27px 10px 0;
  margin-bottom: 15px;
  color: $color-default-white;
  z-index: 1;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
    padding: 0;
    color: $color-default-black;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }
}

.offer__about {
  padding: 0 10px;
  font-family: $oswald400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: $color-default-white;
  z-index: 1;

  @media (min-width: $tablet-width) {
    color: $color-default-black;
    padding: 0;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 52px;
  }
}

.offer__button {
  width: 280px;
  padding: 10px 0;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 18px;
  box-sizing: border-box;
  word-break: break-word;

  @media (min-width: $tablet-width) {
    grid-row: 2 / 3;
    width: 244px;
    padding: 18px 0;
    margin: 0 0 0 90px;
    margin-top: 0;
    font-size: 20px;
    line-height: 20px;
    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 0 79px;
    width: 244px;
    font-size: 20px;
    line-height: 20px;
  }
}
